.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191414;
    padding: 1rem 2rem;
  }
  
  .navbar-logo-link {
    color: #1DB954;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-link {
    color: #1DB954;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  